<a href="https://colab.research.google.com/github/Architag1503/Colab/blob/main/3)MissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

# **Finding Missing Data**

In [13]:
data = {
    'A' : [1 , 2 , np.nan , 4 , 5],
    'B' : [1 , 2 , 3 , 4 , 5],
    'C' : [1 , 2 , 3 , np.nan , np.nan],
    'D' : [1 , np.nan , np.nan , np.nan , 5]
}

df = pd.DataFrame(data)
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  NaN
3  4.0  4  NaN  NaN
4  5.0  5  NaN  5.0

In [14]:
df.isna()

       A      B      C      D
0  False  False  False  False
1  False  False  False   True
2   True  False  False   True
3  False  False   True   True
4  False  False   True  False

In [15]:
df.isna().sum()

A    1
B    0
C    2
D    3
dtype: int64

In [16]:
df.isna().any() # This is use to check is there any null value exist in each column

A     True
B    False
C     True
D     True
dtype: bool

# **Removing Missing Values**

In [17]:
#Removing missing values work on row basis not on column basis
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  NaN
3  4.0  4  NaN  NaN
4  5.0  5  NaN  5.0

In [18]:
df.dropna()# the rows that contains null values are get remove

     A  B    C    D
0  1.0  1  1.0  1.0

In [19]:
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  NaN
3  4.0  4  NaN  NaN
4  5.0  5  NaN  5.0

In [20]:
df.dropna(thresh=3)# the rows that contain non-null values less than thresh value are get removed

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
4  5.0  5  NaN  5.0

In [21]:
df.dropna(thresh=4)

     A  B    C    D
0  1.0  1  1.0  1.0

# **Filling the Missing Data**

In [22]:
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  NaN
3  4.0  4  NaN  NaN
4  5.0  5  NaN  5.0

In [23]:
#shortcut to learn
#for removing -> df.dropna()
#for filling -> df.fillna()
#for searching -> df.isna()

In [24]:
df.fillna(0)

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  0.0
2  0.0  3  3.0  0.0
3  4.0  4  0.0  0.0
4  5.0  5  0.0  5.0

In [26]:
values = {'A':0 , 'B':100 , 'C':300 , 'D':400}
df.fillna(value=values)

     A  B      C      D
0  1.0  1    1.0    1.0
1  2.0  2    2.0  400.0
2  0.0  3    3.0  400.0
3  4.0  4  300.0  400.0
4  5.0  5  300.0    5.0

In [ ]:
#Concept
#Selection & filling will be done column-wise and removal will be done row-wise

In [27]:
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  NaN
3  4.0  4  NaN  NaN
4  5.0  5  NaN  5.0

In [29]:
df.fillna(df.mean())

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  3.0
2  3.0  3  3.0  3.0
3  4.0  4  2.0  3.0
4  5.0  5  2.0  5.0