<a href="https://colab.research.google.com/github/Architag1503/Colab/blob/main/6)PivotTables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Date': pd.date_range('2023-01-01', periods=20),
    'Product': ['A', 'B', 'C', 'D'] * 5,
    'Region': [
        'East', 'West', 'North', 'South',
        'East', 'West', 'North', 'South',
        'East', 'West', 'North', 'South',
        'East', 'West', 'North', 'South',
        'East', 'West', 'North', 'South'
    ],
    'Sales': np.random.randint(100, 1000, size=20),
    'Units': np.random.randint(10, 100, size=20),
    'Rep': [
        'John', 'Marry', 'Bob', 'Alice',
        'John', 'Marry', 'Bob', 'Alice',
        'John', 'Marry', 'Bob', 'Alice',
        'John', 'Marry', 'Bob', 'Alice',
        'John', 'Marry', 'Bob', 'Alice'
    ]
}

df = pd.DataFrame(data)

df['Month'] = df['Date'].dt.month_name()
df['Quarter'] = 'Q' + df['Date'].dt.quarter.astype(str)
df

         Date Product Region  Sales  Units    Rep    Month Quarter
0  2023-01-01       A   East    798     50   John  January      Q1
1  2023-01-02       B   West    268     88  Marry  January      Q1
2  2023-01-03       C  North    264     80    Bob  January      Q1
3  2023-01-04       D  South    927     47  Alice  January      Q1
4  2023-01-05       A   East    913     30   John  January      Q1
5  2023-01-06       B   West    495     86  Marry  January      Q1
6  2023-01-07       C  North    483     55    Bob  January      Q1
7  2023-01-08       D  South    829     75  Alice  January      Q1
8  2023-01-09       A   East    288     72   John  January      Q1
9  2023-01-10       B   West    885     85  Marry  January      Q1
10 2023-01-11       C  North    562     56    Bob  January      Q1
11 2023-01-12       D  South    975     83  Alice  January      Q1
12 2023-01-13       A   East    807     56   John  January      Q1
13 2023-01-14       B   West    303     33  Marry  January      Q1
14 2023-01-15       C  North    342     49    Bob  January      Q1
15 2023-01-16       D  South    354     85  Alice  January      Q1
16 2023-01-17       A   East    397     41   John  January      Q1
17 2023-01-18       B   West    248     68  Marry  January      Q1
18 2023-01-19       C  North    942     12    Bob  January      Q1
19 2023-01-20       D  South    732     29  Alice  January      Q1

pivot_table is used to summarize and aggregate data in a table format (similar to Excel Pivot Tables).

It allows:

Grouping data

Applying aggregation functions

Reshaping data for analysis

Syntax:<br>
pd.pivot_table(
    data,
    values=None,
    index=None,
    columns=None,
    aggfunc='mean',
    fill_value=None,
    margins=False
)

In [ ]:
pd.pivot_table(df , values= "Sales" , index="Region", columns="Product" , aggfunc = "median")

Product      A      B      C      D
Region
East     798.0    NaN    NaN    NaN
North      NaN    NaN  483.0    NaN
South      NaN    NaN    NaN  829.0
West       NaN  303.0    NaN    NaN

In [ ]:
pivot2 = pd.pivot_table(df , values=["Sales" , "Units"] , index="Region" , columns="Product")
pivot2

         Sales                      Units
Product      A      B      C      D     A     B     C     D
Region
East     640.6    NaN    NaN    NaN  49.8   NaN   NaN   NaN
North      NaN    NaN  518.6    NaN   NaN   NaN  50.4   NaN
South      NaN    NaN    NaN  763.4   NaN   NaN   NaN  63.8
West       NaN  439.8    NaN    NaN   NaN  72.0   NaN   NaN

# **Cross Tabs**

crosstab is used to compute frequency tables (counts) between categorical variables.

pd.crosstab(
    index,
    columns,
    values=None,
    aggfunc=None,
    margins=False,
    normalize=False
)

In [ ]:
pd.crosstab(df['Region'] , df['Product'])

Product  A  B  C  D
Region
East     5  0  0  0
North    0  0  5  0
South    0  0  0  5
West     0  5  0  0