<a href="https://colab.research.google.com/github/Architag1503/Colab/blob/main/RidgeAndLassoRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [40]:
df = pd.read_csv('/content/drive/MyDrive/dataset/ford.csv')
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2
17965,Focus,2015,8299,Manual,5007,Petrol,22,57.7,1.0

In [3]:
df.shape

(17966, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17966 entries, 0 to 17965
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17966 non-null  object
 1   year          17966 non-null  int64
 2   price         17966 non-null  int64
 3   transmission  17966 non-null  object
 4   mileage       17966 non-null  int64
 5   fuelType      17966 non-null  object
 6   tax           17966 non-null  int64
 7   mpg           17966 non-null  float64
 8   engineSize    17966 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.2+ MB

In [7]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000
mean,2016.866470,12279.534844,23362.608761,113.329456,57.906980,1.350807
std,2.050336,4741.343657,19472.054349,62.012456,10.125696,0.432367
min,1996.000000,495.000000,1.000000,0.000000,20.800000,0.000000
25%,2016.000000,8999.000000,9987.000000,30.000000,52.300000,1.000000
50%,2017.000000,11291.000000,18242.500000,145.000000,58.900000,1.200000
75%,2018.000000,15299.000000,31060.000000,145.000000,65.700000,1.500000
max,2060.000000,54995.000000,177644.000000,580.000000,201.800000,5.000000

In [8]:
df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [41]:
X = df.drop(columns=['price'])
Y = df['price']

In [10]:
X

         model  year transmission  mileage fuelType  tax   mpg  engineSize
0       Fiesta  2017    Automatic    15944   Petrol  150  57.7         1.0
1        Focus  2018       Manual     9083   Petrol  150  57.7         1.0
2        Focus  2017       Manual    12456   Petrol  150  57.7         1.0
3       Fiesta  2019       Manual    10460   Petrol  145  40.3         1.5
4       Fiesta  2019    Automatic     1482   Petrol  145  48.7         1.0
...        ...   ...          ...      ...      ...  ...   ...         ...
17961    B-MAX  2017       Manual    16700   Petrol  150  47.1         1.4
17962    B-MAX  2014       Manual    40700   Petrol   30  57.7         1.0
17963    Focus  2015       Manual     7010   Diesel   20  67.3         1.6
17964       KA  2018       Manual     5007   Petrol  145  57.7         1.2
17965    Focus  2015       Manual     5007   Petrol   22  57.7         1.0

[17966 rows x 8 columns]

In [42]:
Y

0        12000
1        14000
2        13000
3        17500
4        16500
         ...
17961     8999
17962     7499
17963     9999
17964     8299
17965     8299
Name: price, Length: 17966, dtype: int64

In [43]:
X.columns

Index(['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg',
       'engineSize'],
      dtype='object')

# **One Hot Encoding Of Data**

In [44]:
X_one_encode = pd.get_dummies(X, columns=['model' , 'transmission' , 'fuelType'] , drop_first=True)
X_one_encode

,year,mileage,tax,mpg,engineSize,model_ C-MAX,model_ EcoSport,model_ Edge,model_ Escort,model_ Fiesta,...,model_ Tourneo Connect,model_ Tourneo Custom,model_ Transit Tourneo,model_Focus,transmission_Manual,transmission_Semi-Auto,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2017,15944,150,57.7,1.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
1,2018,9083,150,57.7,1.0,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
2,2017,12456,150,57.7,1.0,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3,2019,10460,145,40.3,1.5,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
4,2019,1482,145,48.7,1.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17961,2017,16700,150,47.1,1.4,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
17962,2014,40700,30,57.7,1.0,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
17963,2015,7010,20,67.3,1.6,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
17964,2018,5007,145,57.7,1.2,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
17965,2015,5007,22,57.7,1.0,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True

In [45]:
X_one_encode = X_one_encode.astype(int)
X_one_encode

,year,mileage,tax,mpg,engineSize,model_ C-MAX,model_ EcoSport,model_ Edge,model_ Escort,model_ Fiesta,...,model_ Tourneo Connect,model_ Tourneo Custom,model_ Transit Tourneo,model_Focus,transmission_Manual,transmission_Semi-Auto,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2017,15944,150,57,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,2018,9083,150,57,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2017,12456,150,57,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2019,10460,145,40,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,2019,1482,145,48,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17961,2017,16700,150,47,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17962,2014,40700,30,57,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17963,2015,7010,20,67,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17964,2018,5007,145,57,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17965,2015,5007,22,57,1,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1

In [52]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numeric_cols = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
X_one_encode[numeric_cols] = scaler.fit_transform(X_one_encode[numeric_cols])
X_one_encode

,year,mileage,tax,mpg,engineSize,model_ C-MAX,model_ EcoSport,model_ Edge,model_ Escort,model_ Fiesta,...,model_ Tourneo Connect,model_ Tourneo Custom,model_ Transit Tourneo,model_Focus,transmission_Manual,transmission_Semi-Auto,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,0.065128,-0.380998,0.591358,-0.042122,-0.447984,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0.552866,-0.733359,0.591358,-0.042122,-0.447984,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.065128,-0.560132,0.591358,-0.042122,-0.447984,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,1.040605,-0.662640,0.510727,-1.721198,-0.447984,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,1.040605,-1.123724,0.510727,-0.931045,-0.447984,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17961,0.065128,-0.342172,0.591358,-1.029814,-0.447984,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17962,-1.398088,0.890398,-1.343791,-0.042122,-0.447984,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17963,-0.910349,-0.839822,-1.505053,0.945569,-0.447984,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17964,0.552866,-0.942690,0.510727,-0.042122,-0.447984,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17965,-0.910349,-0.942690,-1.472801,-0.042122,-0.447984,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge , Lasso

X_train , X_test , Y_train , Y_test = train_test_split(X_one_encode , Y , test_size=0.2 , random_state=42)

In [61]:
ridge = Ridge(alpha = 1.0)  # λ = 1.0
ridge.fit(X_train , Y_train)

y_pred_ridge = ridge.predict(X_test)
y_pred_ridge

array([ 6862.52420709,  9351.46388732,  9347.51012071, ...,
       30823.66194197,  9785.83193479, 15252.7667368 ])

In [62]:
lasso = Lasso(alpha = 0.05)
lasso.fit(X_train , Y_train)

y_pred_lasso = lasso.predict(X_test)
y_pred_lasso

array([ 6864.82984716,  9347.97689729,  9361.57590539, ...,
       31413.00815307,  9781.54066556, 15253.513084  ])

# **For Ridge**

In [68]:
from sklearn.metrics import mean_squared_error , r2_score

r2 = r2_score(Y_test , y_pred_ridge);
print("R2 Score : " , r2)

n = X_test.shape[0]
p = X_test.shape[1]
adjusted_r2 = 1 - ((1 - r2) * (n - 1))/(n - p - 1)
print("Adjusted R2 Score : " , adjusted_r2)

mse = mean_squared_error(Y_test , y_pred_ridge)
print("Mean Squared Error : " , mse)

R2 Score :  0.8469048066199006
Adjusted R2 Score :  0.845442250684266
Mean Squared Error :  3431177.3859846205

# **For Lasso**

In [69]:
r2 = r2_score(Y_test , y_pred_lasso);
print("R2 Score : " , r2)

n = X_test.shape[0]
p = X_test.shape[1]
adjusted_r2 = 1 - ((1 - r2) * (n - 1))/(n - p - 1)
print("Adjusted R2 Score : " , adjusted_r2)

mse = mean_squared_error(Y_test ,y_pred_lasso)
print("Mean Squared Error : " , mse)

R2 Score :  0.8464551718559445
Adjusted R2 Score :  0.8449883204491174
Mean Squared Error :  3441254.623551501

# **Label Enoding Of Data**

In [78]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
cols = ['model' , 'transmission' , 'fuelType']
Xlabel = X.copy()

for col in cols:
  Xlabel[col] = label.fit_transform(Xlabel[col])
Xlabel

       model  year  transmission  mileage  fuelType  tax   mpg  engineSize
0          5  2017             0    15944         4  150  57.7         1.0
1          6  2018             1     9083         4  150  57.7         1.0
2          6  2017             1    12456         4  150  57.7         1.0
3          5  2019             1    10460         4  145  40.3         1.5
4          5  2019             0     1482         4  145  48.7         1.0
...      ...   ...           ...      ...       ...  ...   ...         ...
17961      0  2017             1    16700         4  150  47.1         1.4
17962      0  2014             1    40700         4   30  57.7         1.0
17963      6  2015             1     7010         0   20  67.3         1.6
17964     11  2018             1     5007         4  145  57.7         1.2
17965     23  2015             1     5007         4   22  57.7         1.0

[17966 rows x 8 columns]

In [72]:
Xlabel = Xlabel.astype(int)
Xlabel

       model  year  transmission  mileage  fuelType  tax  mpg  engineSize
0          5  2017             0    15944         4  150   57           1
1          6  2018             1     9083         4  150   57           1
2          6  2017             1    12456         4  150   57           1
3          5  2019             1    10460         4  145   40           1
4          5  2019             0     1482         4  145   48           1
...      ...   ...           ...      ...       ...  ...  ...         ...
17961      0  2017             1    16700         4  150   47           1
17962      0  2014             1    40700         4   30   57           1
17963      6  2015             1     7010         0   20   67           1
17964     11  2018             1     5007         4  145   57           1
17965     23  2015             1     5007         4   22   57           1

[17966 rows x 8 columns]

In [79]:
Cols = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg',
       'engineSize']
Xlabel[Cols] = scaler.fit_transform(Xlabel[Cols])
Xlabel

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,-0.460699,0.065128,-2.670032,-0.380998,0.688777,0.591358,-0.020442,-0.811386
1,-0.211477,0.552866,0.041351,-0.733359,0.688777,0.591358,-0.020442,-0.811386
2,-0.211477,0.065128,0.041351,-0.560132,0.688777,0.591358,-0.020442,-0.811386
3,-0.460699,1.040605,0.041351,-0.662640,0.688777,0.510727,-1.738890,0.345070
4,-0.460699,1.040605,-2.670032,-1.123724,0.688777,0.510727,-0.909294,-0.811386
...,...,...,...,...,...,...,...,...
17961,-1.706810,0.065128,0.041351,-0.342172,0.688777,0.591358,-1.067312,0.113779
17962,-1.706810,-1.398088,0.041351,0.890398,0.688777,-1.343791,-0.020442,-0.811386
17963,-0.211477,-0.910349,0.041351,-0.839822,-1.454098,-1.505053,0.927668,0.576362
17964,1.034634,0.552866,0.041351,-0.942690,0.688777,0.510727,-0.020442,-0.348804
17965,4.025302,-0.910349,0.041351,-0.942690,0.688777,-1.472801,-0.020442,-0.811386

In [80]:
X_test , X_train , Y_test , Y_train = train_test_split(Xlabel , Y , test_size=0.33 , random_state=42)

In [81]:
ridge = Ridge(alpha = 1.0)
ridge.fit(X_train , Y_train)
y_pred_ridge = ridge.predict(X_test)
y_pred_ridge

array([23224.79394253, 12712.06145576, 21252.74671272, ...,
       13843.34520839, 16210.36770947, 10184.58416358])

In [82]:
lasso = Lasso(alpha=0.05)
lasso.fit(X_train , Y_train)
y_pred_lasso = lasso.predict(X_test)
y_pred_lasso

array([23225.801715  , 12712.95564958, 21253.3971556 , ...,
       13843.17356715, 16210.60897682, 10184.80225978])

# **For Ridge**

In [83]:
r2 = r2_score(Y_test , y_pred_ridge);
print("R2 Score : " , r2)

n = X_test.shape[0]
p = X_test.shape[1]

adjusted_r2 = 1 - ((1 - r2) * (n - 1))/(n - p - 1)
print("Adjusted R2: " , adjusted_r2)

mse = mean_squared_error(Y_test ,y_pred_ridge)
print("Mean Squared Error : " , mse)

R2 Score :  0.7354526575034563
Adjusted R2:  0.7352767031685734
Mean Squared Error :  5922394.178293522

# **For Lasso**

In [84]:
r2 = r2_score(Y_test , y_pred_lasso);
print("R2 Score : " , r2)

n = X_test.shape[0]
p = X_test.shape[1]

adjusted_r2 = 1 - ((1 - r2) * (n - 1))/(n - p - 1)
print("Adjusted R2: " , adjusted_r2)

mse = mean_squared_error(Y_test ,y_pred_lasso)
print("Mean Squared Error : " , mse)

R2 Score :  0.7354532248195548
Adjusted R2:  0.7352772708620021
Mean Squared Error :  5922381.47784631

# **Feature Selection using Ridge and Lasso**

In [86]:
ridge_coeff = pd.Series(
    ridge.coef_, index=X.columns
).sort_values(key=abs, ascending=False)

ridge_coeff.head(10)
#Ridge shrinks coefficients but keeps all features.

year            2414.301028
engineSize      1816.749351
mileage        -1173.349297
mpg            -1036.235566
fuelType        -538.514997
model            166.570600
tax              142.882873
transmission     -84.980386
dtype: float64

In [87]:
lasso_coeff = pd.Series(
    lasso.coef_, index=X.columns
)

selected_features = lasso_coeff[lasso_coeff != 0].sort_values(key=abs, ascending=False)

selected_features

year            2414.964972
engineSize      1817.347911
mileage        -1173.140200
mpg            -1036.348404
fuelType        -538.262734
model            166.344073
tax              142.557468
transmission     -84.944015
dtype: float64

In [88]:
print("Total features:", X.shape[1])
print("Features selected by Lasso:", selected_features.shape[0])

Total features: 8
Features selected by Lasso: 8

**A positive coefficient means the feature increases the predicted car price, while a negative coefficient means it decreases the price, assuming all other features remain constant. When features are scaled, the sign indicates the effect relative to the feature’s average value.**