<a href="https://colab.research.google.com/github/Architag1503/Colab/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Use Cases of Pandas**



*   Data Cleaning
*   Data Analysis
*   Data Transformation
*   Data Visualization
*   Data Aggregation
*   File Handling
*   Data Filtering & Selection
*   Time Series Analysis

# **Pandas Series**
A series is a one-dimensional labelled array capable of holding any data type. The axis labels are collectively called the index

# **Creating Series**
There are multiple ways of creating the series

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import numpy as np
import pandas as pd

In [12]:
labels = ['a' , 'b' , 'c']
my_list = [10 , 20 , 30]
arr = np.array([10 , 20 , 30])
d = {'x':10 , 'y':20 , 'z':30}

In [4]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(my_list , index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr , index=labels)#only 1D array can used because Series are 1D

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(d)#Dictionary keys are behaving as index or labels in Series

x    10
y    20
z    30
dtype: int64