<a href="https://colab.research.google.com/github/Architag1503/Colab/blob/main/2)DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DataFrame** is a 2-dimensional, labeled data structure used to store and manipulate tabular data (like Excel sheets or SQL tables).

Rows → records / observations<br>
Columns → features / variables<br>
Each column has a name<br>
Rows have index values

In [ ]:
import numpy as np
import pandas as pd

**Creating a Dataframes**

In [ ]:
data = {
    'Name' : ['John' , 'Anna' , 'Peter' , 'Linda'],
    'Age' : [28 , 34 , 29 , 42],
    'Location' : ['New York' , 'Paris' , 'Berlin' , 'London'],
    'Salary' : [65000 , 70000 , 62000 , 85000]
}

df = pd.DataFrame(data)
df

    Name  Age  Location  Salary
0   John   28  New York   65000
1   Anna   34     Paris   70000
2  Peter   29    Berlin   62000
3  Linda   42    London   85000

In [ ]:
data_list = [
    ['John' , 28 , 'New York' , 65000],
    ['Anna' , 34 , 'Paris' , 70000],
    ['Peter' , 29 , 'Berlin' , 62000],
    ['Linda' , 42 , 'London' , 85000],
]

In [ ]:
df = pd.DataFrame(data_list) #columns name are not come
df

       0   1         2      3
0   John  28  New York  65000
1   Anna  34     Paris  70000
2  Peter  29    Berlin  62000
3  Linda  42    London  85000

In [ ]:
df2 = pd.DataFrame(data_list)
columns = ['Name' , 'Age' , 'Location' , 'Salary']
df2 = pd.DataFrame(data_list , columns = columns)#Now names of columns are come
df2

    Name  Age  Location  Salary
0   John   28  New York   65000
1   Anna   34     Paris   70000
2  Peter   29    Berlin   62000
3  Linda   42    London   85000

**Selection and Indexing of Columns**

In [ ]:
df2[['Name' , 'Location']]

    Name  Location
0   John  New York
1   Anna     Paris
2  Peter    Berlin
3  Linda    London

**Creating a new column**

In [ ]:
df2["Designation"] = ["Doctor" , "Engineer" , "CA" , "Politician"]
df2

    Name  Age  Location  Salary Designation
0   John   28  New York   65000      Doctor
1   Anna   34     Paris   70000    Engineer
2  Peter   29    Berlin   62000          CA
3  Linda   42    London   85000  Politician

**Removing a Column**

In [ ]:
df2.drop(["Location" , "Salary"] , axis = 1 , inplace=True) #To delete from main data we have to use inplace
df2

    Name  Age Designation
0   John   28      Doctor
1   Anna   34    Engineer
2  Peter   29          CA
3  Linda   42  Politician

**Removing Rows**

In [ ]:
df2.drop(0 , axis = 0 , inplace=True) #To delete from main data we have to use inplace
df2

    Name  Age Designation
1   Anna   34    Engineer
2  Peter   29          CA
3  Linda   42  Politician

**Selecting Rows**

In [ ]:
df2.loc[1] # Since we had remove row 0 above from main memory so we can't access it

Name               Anna
Age                  34
Designation    Engineer
Name: 1, dtype: object

In [ ]:
df2.loc[[1 , 3]]

    Name  Age Designation
1   Anna   34    Engineer
3  Linda   42  Politician

In [ ]:
df.iloc[3]

0     Linda
1        42
2    London
3     85000
Name: 3, dtype: object

**Selecting Subsets of Rows and Columns**

In [ ]:
df.loc[[0 , 1]][["Location" , "Salary"]]

   Location  Salary
0  New York   65000
1     Paris   70000

In [ ]:
df2.loc[[2 , 3]][["Name" , "Designation"]]

    Name Designation
2  Peter          CA
3  Linda  Politician

**Conditional Selection**

In [ ]:
df2

    Name  Age  Location  Salary Designation
0   John   28  New York   65000      Doctor
1   Anna   34     Paris   70000    Engineer
2  Peter   29    Berlin   62000          CA
3  Linda   42    London   85000  Politician

In [ ]:
#I only want to see those people whose age is above 30

In [ ]:
df2[df2["Age"] > 30]

    Name  Age Location  Salary Designation
1   Anna   34    Paris   70000    Engineer
3  Linda   42   London   85000  Politician

In [ ]:
#I only want those people whose age is above 30 and their city must be Paris

In [ ]:
df2[(df2['Age'] > 30) & (df2['Location'] == 'Paris')] # AND operation

   Name  Age Location  Salary Designation
1  Anna   34    Paris   70000    Engineer

In [ ]:
df2[(df2['Age'] > 30) | (df2['Location'] == 'Paris')] # OR operation

    Name  Age Location  Salary Designation
1   Anna   34    Paris   70000    Engineer
3  Linda   42   London   85000  Politician

In [ ]:
df2[(df2['Age'] > 30) ^ (df2['Location'] == 'Paris')] # XOR operation

    Name  Age Location  Salary Designation
3  Linda   42   London   85000  Politician