<a href="https://colab.research.google.com/github/Architag1503/Colab/blob/main/5)GroupByAggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Category' : ['A' , 'B' , 'A' , 'B' , 'A' , 'B' , 'A' , 'B'],
    'Store' : ['S1' , 'S1' , 'S2' , 'S2' , 'S1' , 'S2' , 'S2' , 'S1'],
    'Sales' : [100 , 200 , 150 , 250 , 120 , 180 , 200 , 300],
    'Quantity' : [10 , 15 , 12 , 18 , 8 , 20 , 15 , 25],
    'Date' : pd.date_range('2023-01-01' , periods=8)
}

df = pd.DataFrame(data)

In [ ]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [ ]:
#Group By category & calculate the sum of sales
x = df.groupby('Category')['Sales'].sum()

print(x)

Category
A    570
B    930
Name: Sales, dtype: int64

In [ ]:
#Group by Store and calculate the sum of sales
x = df.groupby('Store')['Sales'].sum()
print(x)

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [ ]:
#Group by Multiple columns
x = df.groupby(['Category' , 'Store'])

for group_name , group_data in x:
    print(group_data)
    print(group_name)

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
4        A    S1    120         8 2023-01-05
('A', 'S1')
  Category Store  Sales  Quantity       Date
2        A    S2    150        12 2023-01-03
6        A    S2    200        15 2023-01-07
('A', 'S2')
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
7        B    S1    300        25 2023-01-08
('B', 'S1')
  Category Store  Sales  Quantity       Date
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
('B', 'S2')

In [ ]:
x = df.groupby(['Category' , 'Store'])['Sales'].sum()
print(x)

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

# **Aggregation**

In [ ]:
x = df['Sales'].mean()
print(x)

187.5

In [ ]:
x = df['Sales'].median()
print(x)

190.0

In [ ]:
x = df['Sales'].mode()
print(x)

0    200
Name: Sales, dtype: int64

In [ ]:
x = df['Sales'].std()
print(x)

66.06274074155351

In [ ]:
x = df['Sales'].var()
print(x)

4364.285714285715

In [ ]:
df['Sales'].agg(['sum' , 'mean' , 'median' , 'min' , 'max', 'std' , 'var'])

sum       1500.000000
mean       187.500000
median     190.000000
min        100.000000
max        300.000000
std         66.062741
var       4364.285714
Name: Sales, dtype: float64